body {
  margin: 0;
  transition: all 0.5s ease-in-out;

  width: 100vw;
  height: 100vh;
}

.main-content {
  padding: 2rem 1rem !important;

  background-color: #eff3fd;

  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

.table-section {
  background-color: #ffffff;
  padding: 20px;

  border-radius: 20px;
}

#staff_table_wrapper {
  border: none;
}

#staff_table th {
  border: none;
  background-color: #f7f8fa !important;
}

#staff_table td {
  border: none;
}

button {
  background-color: #5f66e9 !important;
  color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.5rem 0.75rem;
  margin-left: 2px;
  font-size: 14px;
}



/*  */

table {
  width: 100% !important;
  border-collapse: collapse !important;
  background: #323232 !important;
}

th {
  background-color: var(--first-color) !important;
}


caption,
th,
td {
  padding: 1rem !important;
}

caption,
th {
  text-align: left !important;
}

caption {
  background-color: hsl(0, 0%, 0%);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

th {
  background: hsl(0 0% 0% / 0.5);
}

tr:nth-of-type(2n) {
  background: hsl(0 0% 0% / 0.1);
}

@media (max-width: 1100px) {
  th {
    display: none;
  }

  td {
    display: grid !important;
    grid-template-columns: 15ch auto !important;
    gap: 0.5rem !important;
    padding: .5rem 1rem !important;
  }

  td:first-child {
    padding-top: 2rem !important;
  }

  td:last-child {
    padding-bottom: 2rem !important;
    /* background: red !important; */
    width: 90% !important;
    gap: 1em !important;
    justify-content: start !important;
  }

  td:before {
    content: attr(data-cell) ": " !important;
    font-weight: 700 !important;
    text-transform: capitalize !important;
  }
}