body {
  margin: 0;
  transition: all 0.5s ease-in-out;

  width: 100vw;
  height: 100vh;
}

.main-content {
  padding: 20px;

  background-color: #eff3fd;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

.product_image {
  width: 50px;
  height: 50px;
}

.main-content {
  overflow-y: auto;
}

.table-section {
  background-color: #ffffff;
  padding: 20px;

  border-radius: 20px;
}

#product_table_wrapper {
  border: none;
}

#product_table th {
  border: none;
  background-color: #f7f8fa !important;
}

#product_table td {
  border: none;
}

button {
  background-color: #5f66e9 !important;
  color: white !important;
}
