html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  transition: all 0.5s ease-in-out;
}

.main-content {
  padding: 20px;

  background-color: #eff3fd;

  overflow-y: auto;
}

.table-section {
  background-color: #ffffff;
  padding: 20px;

  border-radius: 20px;
}

#orderHistory_table_wrapper {
  border: none;
}

#orderHistory_table th {
  border: none;
  background-color: #f7f8fa !important;
}

#orderHistory_table td {
  border: none;
}

button {
  background-color: #5f66e9 !important;
  color: white !important;
}

h1 {
  margin-bottom: 30px;
}

.table {
  width: 100%;
  max-height: 90vh;
}

.modal-dialog {
  width: 220px;
}

.asterisk-line {
  border-top: 1px dashed #000;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.5rem 0.75rem;
  margin-left: 2px;
  font-size: 14px;
}

@media print {
  body * {
    visibility: hidden;
  }

  #modalBodyContent,
  #modalBodyContent * {
    visibility: visible;
  }
}
