body {
  margin: 0;
  transition: all 0.5s ease-in-out;
  width: 100vw;
  height: 100vh;
  padding: 0;
}

.main-content {
  padding: 20px;

  background-color: #eff3fd;

  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

.card {
  width: 30%;
  border-radius: 20px;
  border: none !important;

  padding: 20px;
}

.card hr {
  border: 2px solid #00dea3;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card h1,
.card p {
  margin-bottom: 0px !important;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid-item {
  width: 100%;

  background-color: white;

  text-align: center;
  padding: 20px;

  border-radius: 20px;
}
