body {
  margin: 0;
  transition: all 0.5s ease-in-out;
  width: 100vw;
  height: 100vh;
  padding: 0;
}

.SalesByDate,
.SalesByCategory,
.Top10ProductsByQuantity,
.Top10ProductsBySales {
  width: 500px;
  height: 500px;
}
